body {
	text-align: center;
	font-family: sans-serif;
	height: 100%;
	margin: 0px;
	padding: 0px
}

.notes-container{
	overflow-y: scroll;
	height: 400px;
	width: 100%;
	margin: auto;
	padding: 10px;
}
