
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'openroom/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'openroom/UWBanner.css' %}"">

<!--
<p> Hello, new world. You're at the page that creates rooms. </p>


<form action="{% url 'openroom:generate'%}" method="post">
  {% csrf_token %}

  {{ form }}

  <input type="submit" value="Submit">
</form>
-->


<!-- 
<!doctype html>
<html lang="en">
-->
  <head>
  <!--
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="icon" type="favicon/ico" href="mrGoose.ico?">
    <link rel="stylesheet" type="text/css" href="../src/index.css">
    <link rel="stylesheet" type="text/css" href="../src/UWBanner.css">
    -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="icon" type="favicon/ico" href="{% static 'mrGoose.ico' %}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Wat is Class</title>
  </head>
  <body>
    <div class="App bg">
        <div class="uw-page-header">
          <div id="uw-header-logo" class="uw-header--logo">
            <a id="uw-logo" class="uw-logo" href="../public/index.html"> Waterloo </a> 
          </div>
        </div>
        <div id="site-colors" class="uw-site--colors">
          <div class="uw-section--inner">
            <div class="uw-site--cbar">
              <div class="uw-site--c1 uw-cbar"></div>
              <div class="uw-site--c2 uw-cbar"></div>
              <div class="uw-site--c3 uw-cbar"></div>
              <div class="uw-site--c4 uw-cbar"></div>
            </div>
          </div>
        </div>
        <div id="site-header" class="uw-site--header">
          <div class="uw-section--inner">
            <a href="https://www.google.ca/" title="WatIsClass">WatIsClass</a>
          </div>
        </div>

        <div class="onboard-container">
        <h3 class="App-intro text-center">
          To get started, enter a class code or make a new class.
        </h3>

        <div class="forms-container text-center">

          <!-- <form class="form-horizontal makeClassForm" method="post" action="../src/VotePage.html"> -->
          <form class="form-horizontal makeClassForm" action="{% url 'openroom:generate'%}" method="post">
 			{% csrf_token %}

            <div class="form-group">
              <div class="col-xs-16">
                <!-- <label for="className">Class name:</label> -->
                {{form.course}}
                <!-- <input type="text" class="form-control" id="className" placeholder="Class name"> -->
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-16">
                <!-- <label for="numPages"># of pages:</label>
                <input type="number" class="form-control" id="numPages" placeholder="Number of Pages"> -->
                {{form.num_lectures}}
              </div>
            </div>
            <p class="text-center">
              <button type="submit" class="btn btn-default">Make Class</button>
            </p>
          </form>
          <hr>

          <form class="form-inline" method="post" action="../src/ClassPage.html">
            <div class="form-group">            
                <label for="email">Class Code:</label>
                <input type="text" class="form-control" id="email">
            </div>
            <button type="submit" class="btn btn-default">Join Class</button>
          </form>
        </div>

        </div>
      </div>
  </body>
</html>